@charset "utf-8";
/* layout_list_step_01 */

/* input radio */
.rdo_area:before{display:block;padding-top:50px;border-top:1px solid #ccc;content:""}

/* step1 레이아웃 예시 */
.ex_layout{text-align:center}
.ex_layout .box_wrap{width:512px;font-size:0;background:none}
.ex_layout .box_wrap img{max-width:100%}
.ex_layout .box{display:inline-block;position:relative;height:200px;border:1px solid #ccc;background:none;box-sizing:border-box}
.ex_layout .box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:16px;color:#b8b8b8}
.ex_layout .box.left{width:180px;border-right:0}
.ex_layout .box.right{width:332px}

 /* 1. inline-block */
.layout_01 .box{display:inline-block;height:200px}
.layout_01 .box_wrap_01 .box.left{width:340px}
.layout_01 .box_wrap_01 .box.right{width:684px}
.layout_01 .box_wrap_02{font-size:0}
.layout_01 .box_wrap_02 .box.left{width:340px}
.layout_01 .box_wrap_02 .box.right{width:684px}

/* 2. table */
.layout_02 .box_wrap{display:table;}
.layout_02 .box{display:table-cell;}
.layout_02 .box.left{width:340px}

/* 3. position */
.layout_03 .box_wrap{position:relative;height:200px}
.layout_03 .box{position:absolute}
.layout_03 .box.left{left:0;width:340px}
.layout_03 .box.right{right:0;width:684px}

/* 4. flex */
.layout_04 .box_wrap{display:flex}
.layout_04 .box.left{flex-basis:340px}
.layout_04 .box.right{flex:1}

/* 5. grid */
.layout_05 .box_wrap{display:-ms-grid;display:grid;-ms-grid-columns:340px 684px;grid-template-columns:340px 684px;grid-template-areas:"boxleft boxright"}
.layout_05 .box.right{-ms-grid-column:2;grid-area:boxright}

/* 6. float */
.layout_06 .box{float:left}
.layout_06 .box.left{width:340px}
.layout_06 .box.right{right:0;width:684px}


