@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
.header{position:fixed;top:0;left:0;z-index:99;width:100%;height:64px;background:#260048;opacity:0.7;text-align:center;color:#fff;line-height:64px;}
.header .inner{margin:0 auto;width:100%;min-width:1024px;height:100%}
.gnb .menu_list .menu{display:inline-block;height:64px}
.gnb .menu_list .menu .link{display:inline-block;margin:0 10px;padding:0 15px;font-size:16px;color:#fff}
.gnb .menu_list .menu:hover .link, .gnb .menu_list .menu:focus .link,.gnb .menu_list .menu.is_active .link{color:yellow;font-weight:bold;text-decoration:underline}
h1{font-size:24px}
h2{padding:30px 0 5px;border-bottom:1px solid #333;font-size:18px;text-align:center}
h3{padding-bottom:15px;font-size:16px}
.markup{position:relative;padding:64px 0 100px;font-size:16px}
.markup li a{background:none}
.markup li span{color:#000}
table{width:100%}
table,th,td{padding:5px 10px;line-height:1.5;border: 1px solid #333;font-size:13px}
td .link{background:none;font-size:12px;color:#ff0000}
td strong,td .link{display:block}
th{text-align:center}
.th_01{width:10%}
.th_02{width:32%}
.th_03{width:22%}
.th_01,.th_02,.th_03,.th_04{background:#cdcdcd;color:#000}
.inner{margin:50px auto 0;width:100%;max-width:1024px}
abbr{font-style: italic;font-weight:bold}

/* input radio */
.rdo_area{min-width:1024px;margin:40px 0 20px;text-align: center;}
.rdo_box{display:inline-block;position:relative;margin-left:20px;vertical-align:middle}
.rdo_box input,.rdo_box input + label{cursor:pointer}
.rdo_box input:checked + label{font-weight:bold}
.rdo_box input[type="radio"] + label{position:relative;padding-left:22px}
.rdo_box input[type="radio"] + label:before,
.rdo_box input[type="radio"]:checked + label:before,
.rdo_box input[type="radio"]:checked + label:after{position:absolute;top:0;left:0;width:17px;height:17px;border-radius:50%;box-sizing:border-box;content:""}
.rdo_box input[type="radio"] + label:before{border:1px solid #9d9d9d;background:#fff}
.rdo_box input[type="radio"]:checked + label:before{border:2px solid #6a0474;background:#6a0474}
.rdo_box input[type="radio"]:checked + label:after{top:2px;left:2px;width:13px;height:13px;border:2px solid #ffffff;background:#6a0474}

/* layout 공통 */
.layout_list .layout{margin-top:50px}
.box_wrap{margin:20px auto 0;width:1024px;background:#e2e2e2;}
.box_wrap img{max-width:100%}
.box{position:relative}
.positioning_box{position:relative;width:100%;height:200px}
.box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:26px}
.box.left{background:rgba(198,123,220,0.9)}
.box.center{background:rgba(198,123,220,0.7)}
.box.right{background:rgba(198,123,220,0.5)}
.desc{margin:20px 0 50px;line-height:1.5}
.desc img{display:block;margin:30px auto;width:100%}
code{display:block;margin:30px 0;padding:7px;background:#000;color:#fff;font-family: 'Inconsolata', monospace}
.txt_bold{font-weight:bold}

/*******************************************************************************************************/
/* layout_list_step_02 */
.layout_list_step_02 .box{height:200px}

/* input radio */
.rdo_area:before{display:block;padding-top:50px;border-top:1px solid #ccc;content:""}

/* step2 레이아웃 예시 */
.ex_layout{position:relative;text-align:center}
.ex_layout .box_wrap{margin:0 auto;width:100%;max-width:512px;background:none;font-size:0}
.ex_layout .box_wrap img{max-width:100%}
.ex_layout .box{display:inline-block;position:relative;height:200px;border:1px solid #ccc;background:none;box-sizing:border-box}
.ex_layout .box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:16px;color:#b8b8b8}
.ex_layout .box.left{width:180px;border-right:0}
.ex_layout .box.right{width: calc(100% - 180px)}

/* 메모 */
.memo{display:flex;flex-direction:column;justify-content:center;position:absolute;top:39px;right:30px;padding:20px 10px;width:200px;border:1px dotted tomato;border-radius:5px;background:rgba(255,99,71,0.5);text-align:left;box-shadow: 1px 1px 1px 1px tomato;
transform: rotate(5deg);box-sizing:border-box}
.memo p{position:relative;padding-left:10px;font-size:13px}
.memo p:before{position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background:#333;content:""}
.memo p:after{position:absolute;bottom:0;left:0;width:100%;height:1px;background:tomato;content:""}

/* box_wrap 너비값 재정의 */
.box_wrap{width:100%;max-width:1024px}

/* 1. inline-block */
.layout_01 .box_wrap{font-size:0}
.layout_01 .box{display:inline-block}
.layout_01 .box{width:340px}
.layout_01 .box.right{width:calc(100% - 340px)}

/* 2. table */
.layout_02 .box_wrap{display:table;}
.layout_02 .box{display:table-cell;}
.layout_02 .box.left{width:340px}

/* 3. position */
.layout_03 .box_wrap{position:relative;height:200px}
.layout_03 .box{position:absolute}
.layout_03 .box.left{left:0}
.layout_03 .box.right{right:0}
.layout_03 .box_wrap_01 .box.left{width:340px}
.layout_03 .box_wrap_01 .box.right{width:684px}
.layout_03 .box_wrap_02 .box.left{width:340px}
.layout_03 .box_wrap_02 .box.right{width:calc(100% - 340px)}

/* 4. flex */
.layout_04 .box_wrap{display:flex;flex-direction:row}
.layout_04 .box.left{flex-basis:340px}
.layout_04 .box.right{flex: auto;}

/* 5. grid */
.layout_05 code{margin:6px 0 0}
.layout_05 .desc p{margin-top:15px}
.layout_05 .box_wrap{display:-ms-grid;display:grid;-ms-grid-columns:340px 1fr;grid-template-columns:340px 1fr;grid-template-areas:"boxleft boxright"}
.layout_05 .box.right{-ms-grid-column:2;grid-area:boxright}

.cross_browsing_area{position:relative;margin-top:30px}
.cross_browsing_area .tit{font-size:20px;font-weight:bold}
.cross_browsing_area .inner{margin:0;margin-left:10px}
.cross_browsing_area .memo_wrap{height:300px;}
.cross_browsing_area .memo_wrap .memo{top:60px;left:50%;padding:12px 10px;width:540px;transform:rotate(0deg) translateX(-50%)}
.cross_browsing_area .memo_wrap .memo p{font-size:14px;color:#000}
.cross_browsing_area .img_area{margin:0 auto;padding:0 30px;width:800px;border:1px solid #999}
.cross_browsing_area .link{margin-left:30px;text-decoration:underline}

/* 6. float */
.layout_06 .box_wrap:after{display:block;content:"";clear:both}
.layout_06 .box{float:left}
.layout_06 .box.left{width:340px}
.layout_06 .box.right{width:calc(100% - 340px)}


/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* 5. grid */
  /* .layout_05 .box{display:inline-block;}
  .layout_05 .box_wrap{font-size:0}
  .layout_05 .box_wrap_02 .box.right{width:calc(100% - 340px)} */
}


