@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* layout_list_step_03 */
.layout_list_step_03 .box{padding:20px;box-sizing: border-box}
.layout_list_step_03 .box .text_multi{font-size:16px;word-break:break-all}

/* input radio */
.rdo_area:before{display:block;padding-top:50px;border-top:1px solid #ccc;content:""}

/* box_wrap 너비값 재정의 */
.box_wrap{width:100%;max-width:1024px}

/* step3 레이아웃 예시 */
.ex_layout{position:relative;text-align:center}
.ex_layout .box_wrap{margin:0 auto;width:100%;max-width:512px;background:none;font-size:0}
.ex_layout .box_wrap img{max-width:100%}
.ex_layout .box{display:inline-block;position:relative;height:200px;border:1px solid #ccc;background:none;box-sizing:border-box}
.ex_layout .box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:16px;color:#b8b8b8}
.ex_layout .box.left{width:180px;border-right:0}
.ex_layout .box.right{width: calc(100% - 180px)}

/* 메모 */
.memo{display:flex;flex-direction:column;justify-content:center;position:absolute;top:39px;right:30px;padding:20px 10px;width:200px;border:1px dotted tomato;border-radius:5px;background:rgba(255,99,71,0.5);text-align:left;box-shadow: 1px 1px 1px 1px tomato;
  transform: rotate(5deg);box-sizing:border-box}
.memo p{position:relative;padding-left:10px;font-size:13px}
.memo p:before{position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background:#333;content:""}
.memo p:after{position:absolute;bottom:0;left:0;width:100%;height:1px;background:tomato;content:""}

.working{display:inline-block;margin:0 7px;padding:0 10px;border-radius:25px;background:#380f44;color:#fff}

/* 1. inline-block */
.layout_01 .box_wrap{font-size:0}
.layout_01 .box{display:inline-block}
.layout_01 .box.left{width:340px;vertical-align:top}
.layout_01 .box.right{width:calc(100% - 340px)}
.layout_01 .box_wrap_02 .box{height: 100%;min-height:340px}

/* 2. table */
.layout_02 .box_wrap{display:table;}
.layout_02 .box{display:table-cell;}
.layout_02 .box.left{width:340px}

/* 3. position */
.layout_03 .box_wrap{position:relative;margin-top:30px;min-height:340px}
.layout_03 .box{position:absolute;height:inherit;min-height:340px}
.layout_03 .box.left{width:340px;left:0}
.layout_03 .box.right{right:0}
.layout_03 .box.right{width:calc(100% - 340px)}

/* 4. flex */
.layout_04 .box_wrap{display:-ms-flexbox;display:flex;min-height:340px}
.layout_04 .box.left{flex-basis:340px}
.layout_04 .box.right{flex-basis:684px}

/* 5. grid */
.layout_05 .box_wrap{display:-ms-grid;display:grid;-ms-grid-columns:340px 1fr;grid-template-columns:340px 1fr;grid-template-areas:"boxleft boxright"}
.layout_05 .box.right{-ms-grid-column:2;grid-area:boxright;width:100%}

/* 6. float */
.layout_06 .box_wrap:after{display:block;content:"";clear:both}
.layout_06 .box{float:left;width:340px;height:100%}
.layout_06 .box.right{width:calc(100% - 340px)}

/* 7. float & position */
.layout_07 .box_wrap{position:relative}
.layout_07 .box{height:auto}
.layout_07 .box.left{position:absolute;top:0;left:0;width:340px;height:100%}
.layout_07 .box.right{float:right;width:calc(100% - 340px)}