@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* step4 레이아웃 예시 */
.ex_layout{display:-ms-grid;display:grid;-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr;grid-template-areas:"title title" "boxwrap01 boxwrap02";gap:0 12px;position:relative;text-align:center}
.ex_layout h3{-ms-grid-row:1;-ms-grid-column:1;-ms-grid-column-span:2;grid-area:title}
.ex_layout .box_wrap_01{-ms-grid-row:2;-ms-grid-column:1;grid-area:boxwrap01}
.ex_layout .box_wrap_02{-ms-grid-row:2;-ms-grid-column:2;grid-area:boxwrap02}
.ex_layout:after{display:block;content:"";clear:both}
.ex_layout .box_wrap{margin:0 auto;width:100%;max-width:500px;background:none;font-size:0}
.ex_layout .box_wrap img{max-width:100%}
.ex_layout .box{display:inline-block;position:relative;height:200px;border:1px solid #ccc;background:none;box-sizing:border-box}
.ex_layout .box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:16px;color:#b8b8b8}
.ex_layout .box.left{border-right:0}

.ex_layout .box_wrap_01{margin-top:0;}
.ex_layout .box_wrap_01 .box.left{width:calc(100% - 180px);}
.ex_layout .box_wrap_01 .box.right{width:180px}

.ex_layout .box_wrap_02{min-width:inherit}
.ex_layout .box_wrap_02 .box.left{width:calc(180/500*100%)}
.ex_layout .box_wrap_02 .box.right{width:calc(320/500*100%)}

/* input radio */
.rdo_area:before{display:block;padding-top:50px;border-top:1px solid #ccc;content:""}

/* box_wrap 너비값 재정의 */
.layout .box_wrap{width:100%;max-width:1024px}

/* 1. inline-block */
.layout_01 .box_wrap{min-width:770px;font-size:0}
.layout_01 .box{display:inline-block;height:200px}
.layout_01 .box_wrap_01 .box.left{width:calc(100% - 684px)}
.layout_01 .box_wrap_01 .box.right{width:684px}
.layout_01 .box_wrap_02 .box.left{width:calc(340/1024*100%)}
.layout_01 .box_wrap_02 .box.right{width:calc(684/1024*100%)}

/* 2. table */
.layout_02 .box_wrap{display:table}
.layout_02 .box{display:table-cell}
.layout_02 .box_wrap_01{min-width:840px}
.layout_02 .box_wrap_01 .box.right{width:684px}
.layout_02 .box_wrap_02{margin-top:20px}
.layout_02 .box_wrap_02 .box.right{width:calc(684/1024*100%)}

/* 3. position */
.layout_03 .box_wrap{position:relative;height:200px}
.layout_03 .box{position:absolute;height:200px}
.layout_03 .box.left{left:0}
.layout_03 .box.right{right:0}
.layout_03 .box_wrap_01{min-width:840px}
.layout_03 .box_wrap_01 .box.left{width:calc(100% - 684px)}
.layout_03 .box_wrap_01 .box.right{width:684px}
.layout_03 .box_wrap_02 .box.left{width:calc(340/1024*100%)}
.layout_03 .box_wrap_02 .box.right{width:calc(684/1024*100%)}

/* 4. flex */
.layout_04 .box_wrap{display:-ms-flexbox;display:flex;height:200px}
.layout_04 .box.left{flex-basis:340px}
.layout_04 .box_wrap_01 .box.right{min-width:684px}
.layout_04 .box_wrap_02{margin-top:20px}
.layout_04 .box_wrap_02 .box.left{width:calc(340/1024*100%)}
.layout_04 .box_wrap_02 .box.right{width:calc(684/1024*100%)}

/* 5. grid */
.layout_05 .box{height:200px}
.layout_05 .box_wrap_01{display:-ms-grid;display:grid;-ms-grid-columns:1fr 684px;grid-template-columns:1fr 684px;grid-template-areas:"boxleft01 boxright01"}
.layout_05 .box_wrap_01 .box.left{-ms-grid-column:1;grid-area:boxleft01;width:100%}
.layout_05 .box_wrap_01 .box.right{-ms-grid-column:2;grid-area:boxright01;width:inherit}

.layout_05 .box_wrap_02{display:-ms-grid;display:grid;-ms-grid-columns:1fr 2fr;grid-template-columns: 1fr 2fr;grid-template-areas:"boxleft02 boxright02"}
.layout_05 .box_wrap_02 .box.left{-ms-grid-column:1;grid-area:boxleft02;width:100%}
.layout_05 .box_wrap_02 .box.right{-ms-grid-column:2;grid-area:boxright02;width:inherit}

/* 6. float */
.layout_06 .box_wrap{min-width:770px}
.layout_06 .box_wrap:after{display:block;content:"";clear:both}
.layout_06 .box{float:left;height:200px}
.layout_06 .box_wrap_01 .box.left{width:calc(100% - 684px)}
.layout_06 .box_wrap_01 .box.right{width:684px}
.layout_06 .box_wrap_02{margin-top:20px}
.layout_06 .box_wrap_02 .box.left{width:calc(340/1024*100%)}
.layout_06 .box_wrap_02 .box.right{width:calc(684/1024*100%)}


