@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* input radio */
.rdo_area:before{display:block;padding-top:50px;border-top:1px solid #ccc;content:""}

/* box_wrap 너비값 재정의 */
.box_wrap{width:100%;max-width:1024px}

/* step5 레이아웃 예시 */
.ex_layout{position:relative;text-align:center}
.ex_layout .box_wrap{margin:0 auto;width:100%;max-width:600px;background:none;font-size:0}
.ex_layout .box{display:inline-block;position:relative;height:200px;border:1px solid #ccc;background:none;box-sizing:border-box}
.ex_layout .box span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:16px;color:#b8b8b8}
.ex_layout .box:not(.box:first-child){border-left:0}
.ex_layout .box.left,.ex_layout .box.right{width:100px}
.ex_layout .box.center{width:calc(100% - 200px)}

/* box_wrap 너비값 재정의 */
.layout .box_wrap{min-width:640px}

/* 1. inline-block */
.layout_01 .box_wrap{font-size:0}
.layout_01 .box{display:inline-block;height:200px}
.layout_01 .box.left, 
.layout_01 .box.right{width:260px} 
.layout_01 .box.center{width:calc(100% - 520px)} 

/* 2. table */
.layout_02 .box_wrap{display:table}
.layout_02 .box{display:table-cell;height:200px}
.layout_02 .box.left,.layout_02 .box.right{width:260px} 

/* 3. position */
.layout_03 .box_wrap{position:relative;height:200px}
.layout_03 .box{position:absolute;height:200px}
.layout_03 .box.left{left:0}
.layout_03 .box.center{left:260px}
.layout_03 .box.right{right:0}
.layout_03 .box.left, 
.layout_03 .box.right{width:260px} 
.layout_03 .box.center{width:calc(100% - 520px)} 

/* 4. flex */
.layout_04 .box_wrap{display:-ms-flexbox;display:flex}
.layout_04 .box{height:200px}
.layout_04 .box.left,.layout_04 .box.right{min-width:260px} 
.layout_04 .box.center{flex:1} 

/* 5. grid */
.layout_05 .box_wrap{display:-ms-grid;display:grid;-ms-grid-columns:260px 1fr 260px;grid-template-columns:260px 1fr 260px;grid-template-areas:"boxleft boxcenter boxright"}
.layout_05 .box{height:200px}
.layout_05 .box.left{-ms-grid-column:1;grid-area:boxleft}
.layout_05 .box.center{-ms-grid-column:2;grid-area:boxcenter}
.layout_05 .box.right{-ms-grid-column:3;grid-area:boxright}

/* 6. float */
.layout_06 .box_wrap:after{display:block;content:"";clear:both}
.layout_06 .box{float:left;height:200px;}
.layout_06 .box.left,.layout_06 .box.right{width:260px}
.layout_06 .box.center{width:calc(100% - 520px)} 

