@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* box_wrap 너비값 재정의 */
.box_wrap{width:100%}
.desc .img_area{display:inline-block;width:428px}
.desc .img_area.w_wide{width:790px}
/* ---------- 예제 6-1 ---------- */
.layout{overflow:hidden}
/* inline-block */
.layout_01 .layout_inline_block{font-size:0}
.layout_01 .layout_inline_block .box{display:inline-block;margin-left:10px;width:calc(((99.999% - 20px) / 3));height:200px}
.layout_01 .layout_inline_block .box:first-child{margin-left:0}
/* table */
.layout_01 .layout_table{display:table;table-layout:fixed;margin-left:-10px;width:calc(100% + 10px)}
.layout_01 .layout_table .box{display:table-cell;height:200px;border-left:10px solid transparent;background-clip:padding-box}
/* position */
.layout_01 .layout_position{position:relative;height:200px}
.layout_01 .layout_position .box{position:absolute;width:calc(((100% - 20px) / 3));height:200px}
.layout_01 .layout_position .box.left{top:0;left:0}
.layout_01 .layout_position .box.center{top:0;left:50%;transform:translateX(-50%)}
.layout_01 .layout_position .box.right{top:0;right:0}
/* flex */
.layout_01 .layout_flex{display:flex}
.layout_01 .layout_flex .box{flex:1;margin-left:10px;height:200px}
.layout_01 .layout_flex .box:first-child{margin-left:0}
/* grid */
.layout_01 .layout_grid{display:-ms-grid;display:grid;-ms-grid-columns:1fr 1fr 1fr;grid-template-columns:repeat(3,1fr);grid-template-areas:"boxleft boxcenter boxright";margin-left:-10px;width:calc(100% + 10px)}
.layout_01 .layout_grid .box{height:200px;border-left:10px solid transparent;background-clip:padding-box}
.layout_01 .layout_grid .box.left{-ms-grid-column:1;grid-area:boxleft}
.layout_01 .layout_grid .box.center{-ms-grid-column:2;grid-area:boxcenter}
.layout_01 .layout_grid .box.right{-ms-grid-column:3;grid-area:boxright}
/* float */
.layout_01 .layout_float:after{display:block;content:"";clear:both}
.layout_01 .layout_float .box{margin-left:10px;width:calc(((99.999% - 20px) / 3));height:200px;text-align:center}
.layout_01 .layout_float .box:first-child{margin-left:0}
.layout_01 .layout_float .box.left,.layout_01 .layout_float .box.center{float:left}
.layout_01 .layout_float .box.right{float:right}

/* ---------- 예제 6-2 ---------- */
/* inline-block */
.layout_02 .layout_inline_block{font-size:0}
.layout_02 .layout_inline_block .box{display:inline-block;margin-left:3%;width:31.333333%;height:200px;box-sizing:border-box}
.layout_02 .layout_inline_block .box:first-child{margin-left:0}
/* table */
.layout_02 .layout_table{display:table;table-layout:fixed}
.layout_02 .layout_table .box{display:table-cell;width:31.33333%;height:200px}
.layout_02 .layout_table .box.space{width:3%;background:#e2e2e2}
/* position */
.layout_02 .layout_position{position:relative;height:200px}
.layout_02 .layout_position .box{position:absolute;height:200px;margin-left:3%;width:31.333333%}
.layout_02 .layout_position .box:first-child{margin-left:0}
.layout_02 .layout_position .box.left{top:0;left:0}
.layout_02 .layout_position .box.center{top:0;left:47%;transform:translateX(-50%)}
.layout_02 .layout_position .box.right{top:0;right:0}
/* flex */
.layout_02 .layout_flex{display:flex;justify-content:space-between}
.layout_02 .layout_flex .box{flex:1;margin-left:3%;height:200px}
.layout_02 .layout_flex .box:first-child{margin-left:0}
/* grid */
.layout_02 .layout_grid{display:-ms-grid;display:grid;-ms-grid-columns:1fr 1fr 1fr;grid-template-columns:repeat(3,1fr);grid-gap:3%;grid-template-areas:"boxleft boxcenter boxright"}
.layout_02 .layout_grid .box{height:200px}
.layout_02 .layout_grid .box.left{-ms-grid-column:1;grid-area:boxleft}
.layout_02 .layout_grid .box.center{-ms-grid-column:2;grid-area:boxcenter}
.layout_02 .layout_grid .box.right{-ms-grid-column:3;grid-area:boxright}
/* float */
.layout_02 .layout_float:after{display:block;content:"";clear:both}
.layout_02 .layout_float .box{margin-left:3%;width:calc((100% - 6%) / 3);height:200px;text-align:center}
.layout_02 .layout_float .box:first-child{margin-left:0}
.layout_02 .layout_float .box.left,.layout_02 .layout_float .box.center{float:left}
.layout_02 .layout_float .box.right{float:right}

/* ---------- 예제 6-3 ---------- */
/* inline-block */
.layout_03 .layout_inline_block{min-width:900px;font-size:0}
.layout_03 .layout_inline_block .box{display:inline-block;margin-left:calc((100% - 900px) / 2);width:300px;height:200px;box-sizing:border-box}
.layout_03 .layout_inline_block .box:first-child{margin-left:0}
/* table */
.layout_03 .layout_table{display:table;table-layout:fixed;width:100%;}
.layout_03 .layout_table .box{display:table-cell;width:300px;height:200px}
.layout_03 .layout_table .box.space{width:6%;background:#e2e2e2}
/* position */
.layout_03 .layout_position{position:relative;min-width:900px;height:200px}
.layout_03 .layout_position .box{position:absolute;top:0;width:300px;height:200px}
.layout_03 .layout_position .box.left{left:0}
.layout_03 .layout_position .box.center{left:50%;transform:translateX(-50%)}
.layout_03 .layout_position .box.right{right:0}
/* flex */
.layout_03 .layout_flex{display:flex;justify-content:space-between;}
.layout_03 .layout_flex .box{flex:1;flex-basis:300px;margin-left:6%;min-width:300px;height:200px}
.layout_03 .layout_flex .box:first-child{margin-left:0}
/* grid */
.layout_03 .layout_grid{display:-ms-grid;display:grid;-ms-grid-columns:300.4px 6% 300.4px 6% 300.4px;grid-template-columns:300px 6% 300px 6% 300px;-ms-flex-pack:justify;justify-content: space-between;grid-template-areas:"boxleft space1 boxcenter space2 boxright"}
.layout_03 .layout_grid .box{height:200px}
.layout_03 .layout_grid .box.left{-ms-grid-column:1;grid-area:boxleft}
.layout_03 .layout_grid .box.space{-ms-grid-column:2;grid-area:space1}
.layout_03 .layout_grid .box.center{-ms-grid-column:3;grid-area:boxcenter}
.layout_03 .layout_grid .box.space{-ms-grid-column:4;grid-area:space2}
.layout_03 .layout_grid .box.right{-ms-grid-column:5;grid-area:boxright}
/* float */
.layout_03 .layout_float{min-width:900px}
.layout_03 .layout_float:after{display:block;content:"";clear:both}
.layout_03 .layout_float .box{margin-left:calc((100% - 900px) / 2);width:300px;height:200px;text-align:center}
.layout_03 .layout_float .box:first-child{margin-left:0}
.layout_03 .layout_float .box.left,.layout_03 .layout_float .box.center{float:left}
.layout_03 .layout_float .box.right{float:right}
