@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.desc p{margin-top:15px}
.desc p:first-child{margin-top:15px}
.desc .working{display:inline-block;margin:0 7px;padding:0 10px;border-radius:25px;background:#380f44;color:#fff}
.desc .not_working{display:inline-block;margin:0 7px;padding:0 10px;border-radius:25px;background:#9c9c9c;color:#fff}

.layout{overflow:hidden}
/* inline-block */
.layout_inline_block{font-size:0}
.layout_inline_block .box{display:inline-block;margin-left:10px;width:32.6822916%;height:200px;box-sizing:border-box}
.layout_inline_block .box:first-child{margin-left:0}
.layout_inline_block .box.box_w_half{width:49.51171875%}
/* table */
.layout_table{display:table;table-layout:fixed;width:100%}
.layout_table .box{display:table-cell;width:100%;height:200px;border:10px solid #e2e2e2;border-top:0;border-right:0;border-bottom:0}
.layout_table .box:first-child{border-left:0}
/* position */
.layout_position{position:relative;height:200px}
.layout_position .box{position:absolute;height:200px}
.layout_position .box.left{top:0;left:0;width:32.6822916%}
.layout_position .box.center{top:0;left:50%;transform:translateX(-50%);width:32.6822916%}
.layout_position .box.right{top:0;right:0;width:32.6822916%}
/* flex */
.layout_flex{display:flex}
.layout_flex .box{flex:1;margin-left:10px;height:200px}
.layout_flex .box:first-child{margin-left:0}
/* grid */
.layout_grid{display:-ms-grid;display:grid;-ms-grid-columns:1fr 1fr 1fr;grid-template-columns:repeat(auto-fit,minmax(32.6822916%, auto));grid-template-areas:"boxleft boxcenter boxright";margin-left:-10px;width:calc(100% + 10px)}
.layout_grid .box{height:200px;border-left:10px solid transparent;background-clip:padding-box}
.layout_grid .box:first-child{margin-left:0}
.layout_grid .box.left{-ms-grid-column:1;grid-area:boxleft}
.layout_grid .box.center{-ms-grid-column:2;grid-area:boxcenter}
.layout_grid .box.right{-ms-grid-column:3;grid-area:boxright}
/* float */
.layout_float:after{display:block;content:"";clear:both}
.layout_float .box{margin-left:10px;width:32.6822916%;height:200px;text-align:center}
.layout_float .box:first-child{margin-left:0}
.layout_float .box.left,.layout_float .box.center{float:left}
.layout_float .box.right{float:right}
