@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* grid */
/* .layout.grid code{margin:6px 0 0}
.layout.grid .desc p{margin-top:15px}
.layout.grid .box_wrap{display:-ms-grid;display:grid;-ms-grid-columns:340px 1fr;grid-template-columns:340px 1fr;grid-template-areas:"boxleft boxright"}
.layout.grid .box.right{-ms-grid-column:2;grid-area:boxright}

.cross_browsing_area{position:relative;margin-top:30px}
.cross_browsing_area .tit{font-size:20px;font-weight:bold}
.cross_browsing_area .inner{margin:0;margin-left:10px}
.cross_browsing_area .memo_wrap{height:300px;}
.cross_browsing_area .memo_wrap .memo{top:60px;left:50%;padding:12px 10px;width:540px;transform:rotate(0deg) translateX(-50%)}
.cross_browsing_area .memo_wrap .memo p{font-size:14px;color:#000}
.cross_browsing_area .img_area{margin:0 auto;padding:0 30px;width:800px;border:1px solid #999}
.cross_browsing_area .link{margin-left:30px;text-decoration:underline} */

.wrap{margin:0 auto;width:100%;max-width:1024px}
.container{padding:128px 0 0 0}
.container.w_650{margin:0 auto;width:650px;padding:1em}
.img_box{display:inline-block;margin:9px 0}
.img_box img{max-width:100%}
li img{display:block;width:100%;height:100%;object-fit:cover}
.title{text-align:left}
ul.list{padding: 0 0 10px 4px;}
ul.list .list_item:before{display:inline-block;margin-right:8px;width:4px;height:4px;border-radius:50%;background:#000;vertical-align:middle;content:''}
code{margin:9px 0;padding:10px 20px;border-radius:6px;background:#eaeef2;font-size:14px;color:#111;font-family:Inconsolata}
code.one_line_code{display:inline-block;margin:3px 0;padding:1px 7px;background:#eaeef2}
code .element{display:block;padding-left: 20px}
code .annotation{color:#11ad11}
.link.external{text-decoration:underline;text-underline-position:under;color:#0069c2}
.link.external:hover, .link.external:focus{text-decoration:none}
.link.external:after{display:inline-block;margin-left:4px;width:10px;height:10px;-webkit-mask-image:url(../grid/img/external.svg);mask-image:url(../grid/img/external.svg);-webkit-mask-size:cover;mask-size:cover;background-color:#696969;content:''}
.nested{padding:1em;border:2px solid #ffec99;border-radius:5px;background-color:#fff9db;}
.wrapper{border:2px solid #ff4b4b;border-radius:4px}
.wrapper > p {margin:1em;padding:1em;max-width:300px;border:2px solid #ffa94d;border-radius:5px;background-color:#ffd8a8;font-size:16px;color:#d9480f}
.grid_container{display:grid;border:2px solid #ff4b4b;border-radius:4px}
.grid_container .grid_item{padding:1em;border:2px solid #ff9481;border-radius:4px;background:rgba(255,99,71,.3);font-size:16px}
.grid_container .grid_item:first-child{margin-top:0}
.flex_container{display:flex;border:2px solid #00c3c3;border-radius:4px;box-sizing:border-box}
.flex_container .flex_item{padding:1em;border:2px solid #97dddd;border-radius:4px;background:rgba(170,241,202,.3);font-size:16px}
.flex_container .flex_item:first-child{margin-top:0}

/* STEP 1 */
.wrap.step1 .grid_container.ex2{grid-template-columns:200px 200px 200px}
.wrap.step1 .grid_container.ex3{grid-template-columns:1fr 1fr 1fr}
.wrap.step1 .grid_container.ex4{grid-template-columns:2fr 1fr 1fr}
.wrap.step1 .grid_container.ex5{grid-template-columns:500px 1fr 2fr}
.wrap.step1 .grid_container.ex6{grid-template-columns:repeat(3, 1fr)}
.wrap.step1 .grid_container.ex7{grid-template-columns:20px repeat(6, 1fr) 20px}
.wrap.step1 .grid_container.ex8{grid-template-columns:repeat(5, 1fr, 2fr)}
.wrap.step1 .grid_container.ex9{grid-template-columns:repeat(3, 1fr);grid-auto-rows:200px}
.wrap.step1 .grid_container.ex10{grid-template-columns:repeat(3, 1fr);grid-auto-rows:minmax(100px, auto)}
.wrap.step1 .grid_container.ex11{grid-template-columns:repeat(3, 1fr);grid-auto-rows:100px}
.wrap.step1 .grid_container.ex11 .grid_item1{grid-column-start:1;grid-column-end:4;grid-row-start:1;grid-row-end:3}
.wrap.step1 .grid_container.ex11 .grid_item2{grid-column-start:1;grid-row-start:3;grid-row-end:5}
.wrap.step1 .grid_container.ex12{grid-template-columns:repeat(3, 1fr);grid-auto-rows:100px}
.wrap.step1 .grid_container.ex12 .grid_item1{grid-column:1/4;grid-row:1/3}
.wrap.step1 .grid_container.ex12 .grid_item2{grid-column:1;grid-row:3/5}
.wrap.step1 .grid_container.ex13{grid-template-columns:repeat(3, 1fr);column-gap:10px;row-gap:1em}
.wrap.step1 .grid_container.ex14{grid-template-columns:repeat(3, 1fr);gap:3px;}
.wrap.step1 .grid_container.ex14 .grid_item1{grid-column:1/4;display:grid;grid-template-columns:repeat(3,1fr)}
.wrap.step1 .grid_container.ex15{grid-template-columns:repeat(3, 1fr);gap:3px}
.wrap.step1 .grid_container.ex15 .grid_item1{grid-column:1/4;display:grid;grid-template-columns: subgrid}
.wrap.step1 .grid_container.ex16,.wrap.step1 .grid_container.ex17{grid-template-columns:repeat(3, 1fr);grid-auto-rows:100px}
.wrap.step1 .grid_container.ex16 .grid_item,.wrap.step1 .grid_container.ex17 .grid_item{background:#ffd5ce}
.wrap.step1 .grid_container.ex16 .grid_item1{grid-column-start:1;grid-column-end:4;grid-row-start:1;grid-row-end:3}
.wrap.step1 .grid_container.ex16 .grid_item2{grid-column-start:1;grid-row-start:2;grid-row-end:4}
.wrap.step1 .grid_container.ex17 .grid_item1{grid-column-start:1;grid-column-end:4;grid-row-start:1;grid-row-end:3;z-index:1}
.wrap.step1 .grid_container.ex17 .grid_item2{grid-column-start:1;grid-row-start:2;grid-row-end:4;z-index:1}

/* STEP 2 */
.wrap.step2 .flex_container.flex_ex1{flex-wrap:wrap;}
.wrap.step2 .flex_container.flex_ex1 .flex_item{flex:1 1 150px;}
.wrap.step2 .flex_container.flex_ex2{align-items:flex-end;min-height:200px}
.wrap.step2 .flex_container.flex_ex2 .flex_item1{align-self:stretch}
.wrap.step2 .flex_container.flex_ex2 .flex_item2{align-self:flex-start}
.wrap.step2 .grid_container.grid_ex1{grid-template-columns:repeat(3, 1fr)}
.wrap.step2 .grid_container.grid_ex2{grid-template-columns:repeat(3, 1fr);align-items:end;grid-auto-rows:200px}
.wrap.step2 .grid_container.grid_ex2 .grid_item1{align-self:stretch}
.wrap.step2 .grid_container.grid_ex2 .grid_item2{align-self:start}
.wrap.step2 .grid_container.grid_ex3{grid-template-columns:repeat(auto-fill, 200px)}
.wrap.step2 .grid_container.grid_ex4{grid-template-columns:repeat(auto-fit, minmax(200px, 1fr))}
.wrap.step2 .grid_container.grid_ex5,.wrap.step2 .grid_container.grid_ex6{grid-template-columns:repeat(4, 1fr);grid-auto-rows:200px;gap:20px;position:relative}
.wrap.step2 .grid_container.grid_ex5 .grid_item3{grid-column-start:2;grid-column-end:4;grid-row-start:1;grid-row-end:3;position:absolute;top:40px;left:40px}
.wrap.step2 .grid_container.grid_ex5 + .title{padding: 100px 0 5px}
.wrap.step2 .grid_container.grid_ex6 .grid_item3{position:absolute;top:30px}
.wrap.step2 .grid_container.grid_ex7{grid-template-columns:repeat(4, 1fr);grid-auto-rows:200px;gap:20px}
.wrap.step2 .grid_container.grid_ex7 .grid_item3{grid-column-start:2;grid-column-end:4;grid-row-start:1;grid-row-end:3;position:relative}
.wrap.step2 .grid_container.grid_ex7 .abspos{position:absolute;top:40px;left:40px;padding:10px;background-color:rgba(255, 255, 255, 0.5);border:1px solid rgba(0, 0, 0, 0.5);color:#000}
.wrap.step2 .grid_container.grid_ex8{grid-template-columns:repeat(3, 1fr);grid-auto-rows:minmax(100px, auto)}
.wrap.step2 .grid_container.grid_ex8 .grid_item1{grid-column-start:1;grid-column-end:4}
.wrap.step2 .grid_container.grid_ex9{grid-template-columns:repeat(3, 1fr);grid-auto-rows:minmax(100px, auto)}
.wrap.step2 .grid_container.grid_ex9 .grid_item1{grid-column-start:1;grid-column-end:4;display:contents}

/* STEP 3 */
.wrap.step3 .grid_container.grid_ex1,.wrap.step3 .grid_container.grid_ex2,.wrap.step3 .grid_container.grid_ex3,.wrap.step3 .grid_container.grid_ex4,.wrap.step3 .grid_container.grid_ex5,.wrap.step3 .grid_container.grid_ex6,.wrap.step3 .grid_container.grid_ex7,.wrap.step3 .grid_container.grid_ex8{grid-template-columns:repeat(3, 1fr);grid-template-rows:repeat(3, 100px)}
.wrap.step3 .grid_container.grid_ex2 .grid_item1{grid-column-start:1;grid-column-end:2;grid-row-start:1;grid-row-end:4}
.wrap.step3 .grid_container.grid_ex2 .grid_item2{grid-column-start:3;grid-column-end:4;grid-row-start:1;grid-row-end:3}
.wrap.step3 .grid_container.grid_ex2 .grid_item3{grid-column-start:2;grid-column-end:3;grid-row-start:1;grid-row-end:2}
.wrap.step3 .grid_container.grid_ex2 .grid_item4{grid-column-start:2;grid-column-end:4;grid-row-start:3;grid-row-end:4}
.wrap.step3 .grid_container.grid_ex3 .grid_item1{grid-column:1 / 2;grid-row:1 / 4}
.wrap.step3 .grid_container.grid_ex3 .grid_item2{grid-column:3 / 4;grid-row:1 / 3}
.wrap.step3 .grid_container.grid_ex3 .grid_item3{grid-column:2 / 3;grid-row:1 / 2}
.wrap.step3 .grid_container.grid_ex3 .grid_item4{grid-column:2 / 4;grid-row:3 / 4}
.wrap.step3 .grid_container.grid_ex4 .grid_item1{grid-column-start:1;grid-row-start:1;grid-row-end:4}
.wrap.step3 .grid_container.grid_ex4 .grid_item2{grid-column-start:3;grid-row-start:1;grid-row-end:3}
.wrap.step3 .grid_container.grid_ex4 .grid_item3{grid-column-start:2;grid-row-start:1}
.wrap.step3 .grid_container.grid_ex4 .grid_item4{grid-column-start:2;grid-column-end:4;grid-row-start:3}
.wrap.step3 .grid_container.grid_ex5 .grid_item1{grid-column:1;grid-row:1 / 4}
.wrap.step3 .grid_container.grid_ex5 .grid_item2{grid-column:3;grid-row:1 / 3}
.wrap.step3 .grid_container.grid_ex5 .grid_item3{grid-column:2;grid-row:1}
.wrap.step3 .grid_container.grid_ex5 .grid_item4{grid-column:2 / 4;grid-row:3}
.wrap.step3 .grid_container.grid_ex6 .grid_item1{grid-area:1 / 1 / 4 / 2}
.wrap.step3 .grid_container.grid_ex6 .grid_item2{grid-area:1 / 3 / 3 / 4}
.wrap.step3 .grid_container.grid_ex6 .grid_item3{grid-area:1 / 2 / 2 / 3}
.wrap.step3 .grid_container.grid_ex6 .grid_item4{grid-area:3 / 2 / 4 / 4}
.wrap.step3 .grid_container.grid_ex7 .grid_item1{grid-column-start:-1;grid-column-end:-2;grid-row-start:-1;grid-row-end:-4}
.wrap.step3 .grid_container.grid_ex7 .grid_item2,.wrap.step3 .grid_container.grid_ex8 .grid_item2{grid-column-start:-3;grid-column-end:-4;grid-row-start:-1;grid-row-end:-3}
.wrap.step3 .grid_container.grid_ex7 .grid_item3,.wrap.step3 .grid_container.grid_ex8 .grid_item3{grid-column-start:-2;grid-column-end:-3;grid-row-start:-1;grid-row-end:-2}
.wrap.step3 .grid_container.grid_ex7 .grid_item4,.wrap.step3 .grid_container.grid_ex8 .grid_item4{grid-column-start:-2;grid-column-end:-4;grid-row-start:-3;grid-row-end:-4}
.wrap.step3 .grid_container.grid_ex8 .grid_item1{grid-column:1 / -1}
.wrap.step3 .grid_container.grid_ex9{grid-template-columns:repeat(3, 1fr);grid-template-rows:repeat(3, 100px);column-gap:20px;row-gap:1em}
.wrap.step3 .grid_container.grid_ex9 .grid_item1{grid-column:1;grid-row:1 / 4}
.wrap.step3 .grid_container.grid_ex9 .grid_item2{grid-column:3;grid-row:1 / 3}
.wrap.step3 .grid_container.grid_ex9 .grid_item3{grid-column:2;grid-row:1}
.wrap.step3 .grid_container.grid_ex9 .grid_item4{grid-column:2 / 4;grid-row:3}
.wrap.step3 .grid_container.grid_ex10{grid-template-columns:repeat(3, 1fr);grid-template-rows:repeat(3, 100px)}
.wrap.step3 .grid_container.grid_ex10 .grid_item1{grid-column:1;grid-row:1 / span 3}
.wrap.step3 .grid_container.grid_ex10 .grid_item2{grid-column:3;grid-row:1 / span 2}
.wrap.step3 .grid_container.grid_ex10 .grid_item3{grid-column:2;grid-row:1}
.wrap.step3 .grid_container.grid_ex10 .grid_item4{grid-column:2 / span 2;;grid-row:3}

/* STEP 4 */
.wrap.step4 .grid_container.grid_ex1,.wrap.step4 .grid_container.grid_ex2,.wrap.step4 .grid_container.grid_ex3{grid-template-columns:repeat(9,1fr);grid-auto-rows:minmax(100px,auto)}
.wrap.step4 .grid_container .grid_header{grid-area: hd}
.wrap.step4 .grid_container .grid_footer{grid-area: ft}
.wrap.step4 .grid_container .grid_content{grid-area: main}
.wrap.step4 .grid_container .grid_sidebar{grid-area: sd}
.wrap.step4 .grid_container.grid_ex1{
  grid-template-areas:
  "hd hd hd hd   hd   hd   hd   hd   hd"
  "sd sd sd main main main main main main"
  "ft ft ft ft   ft   ft   ft   ft   ft"}
.wrap.step4 .grid_container.grid_ex2{
  grid-template-areas:
  "hd hd hd hd   hd   hd   hd   hd   hd"
  "sd sd sd main main main main main main"
  ".  .  .  ft   ft   ft   ft   ft   ft"}
.wrap.step4 .grid_container.grid_ex3{
  grid-template-areas:
  "hd hd hd hd   hd   hd   hd   hd   hd"
  "sd sd sd main main main main main main"
  "sd sd sd ft   ft   ft   ft   ft   ft"}
.wrap.step4 .grid_container.grid_ex4{grid-template-columns:1fr;grid-auto-rows:minmax(100px, auto);grid-template-areas:"hd" "main" "sd" "ft"}
.wrap.step4 .grid_container.grid_ex5.media{display:grid;grid-template-columns:1fr 3fr;grid-template-areas:"img content";margin-bottom:1em;max-width:400px;border:2px solid #f76707;border-radius:5px;background-color:#fff4e6}
.wrap.step4 .grid_container.grid_ex5.media .image{grid-area:img;background-color:#ffd8a8}
.wrap.step4 .grid_container.grid_ex5.media .text{grid-area:content;padding:10px}
.wrap.step4 .grid_container.grid_ex6{
  grid-template:
  "hd hd hd hd   hd   hd   hd   hd   hd" minmax(100px, auto)
  "sd sd sd main main main main main main" minmax(100px, auto)
  "ft ft ft ft   ft   ft   ft   ft   ft" minmax(100px, auto)
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr}
.wrap.step4 .grid_container.grid_ex7{
  grid:
  "hd hd hd hd   hd   hd   hd   hd   hd" minmax(100px, auto)
  "sd sd sd main main main main main main" minmax(100px, auto)
  "ft ft ft ft   ft   ft   ft   ft   ft" minmax(100px, auto)
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr}

/* STEP 5 */
.wrap.step5 .grid_container.grid_ex1,.wrap.step5 .grid_container.grid_ex2{grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];grid-template-rows: [main-start] 100px [content-start] 100px [content-end] 100px [main-end]}
.wrap.step5 .grid_container.grid_ex1 .grid_item1{grid-column-start:main-start;grid-row-start:main-start;grid-row-end:main-end}
.wrap.step5 .grid_container.grid_ex1 .grid_item2{grid-column-start:content-end;grid-row-start:main-start;grid-row-end:content-end}
.wrap.step5 .grid_container.grid_ex1 .grid_item3{grid-column-start:content-start;grid-row-start:main-start}
.wrap.step5 .grid_container.grid_ex1 .grid_item4{grid-column-start:content-start;grid-column-end:main-end;grid-row-start:content-end}
.wrap.step5 .grid_container.grid_ex2 .grid_item.thing{grid-area:content}
.wrap.step5 .grid_container.grid_ex3{grid-template-columns:repeat(9, 1fr);grid-auto-rows:minmax(100px, auto);
  grid-template-areas:
  "hd hd hd hd   hd   hd   hd   hd   hd"
  "sd sd sd main main main main main main"
  "ft ft ft ft   ft   ft   ft   ft   ft"
}
.wrap.step5 .grid_container .grid_header{grid-area: hd}
.wrap.step5 .grid_container .grid_footer{grid-area: ft}
.wrap.step5 .grid_container .grid_content{grid-area: main}
.wrap.step5 .grid_container .grid_sidebar{grid-area: sd}
.wrap.step5 .grid_container.grid_ex3 .overlay{grid-column:main-start / main-end;grid-row:hd-start / ft-end;z-index:10;border:2px solid rgb(92,148,13);background-color:rgba(92,148,13,.4);font-size:150%;color:rgb(92,148,13)}
.wrap.step5 .grid_container.grid_ex4{grid-template-columns:repeat(12, [col-start] 1fr)}
.wrap.step5 .grid_container.grid_ex4 .grid_item1{grid-column:col-start / col-start 5}
.wrap.step5 .grid_container.grid_ex4 .grid_item2{grid-column:col-start 7 / span 3}
.wrap.step5 .grid_container.grid_ex5{grid-template-columns:repeat(12, [col-start] 1fr);grid-gap:10px}
.wrap.step5 .grid_container.grid_ex5 .grid_item1{grid-column:col1-start / col2-start 2}
.wrap.step5 .grid_container.grid_ex5 .grid_item2{grid-row:2;grid-column:col1-start 2 / span 2 col1-start}

/* STEP 6 */
.wrap.step6 .grid_container.grid_ex1{grid-template-columns:repeat(3, 1fr);gap:10px}
.wrap.step6 .grid_container.grid_ex2{grid-template-columns:repeat(3, 1fr);gap:10px;grid-auto-rows:100px}
.wrap.step6 .grid_container.grid_ex3{grid-template-columns:repeat(3, 1fr);gap:10px;grid-auto-rows:minmax(100px, auto)}
.wrap.step6 .grid_container.grid_ex4{grid-template-columns:repeat(3, 1fr);gap:10px;grid-auto-rows:100px 200px}
.wrap.step6 .grid_container.grid_ex5{grid-template-rows:repeat(3, 200px);gap:10px;grid-auto-flow:column;grid-auto-columns:300px 100px}
.wrap.step6 .grid_container.grid_ex6{grid-template-columns:repeat(4, 1fr);grid-auto-rows:100px;gap:10px}
.wrap.step6 .grid_container.grid_ex6 .grid_item3{grid-column:3;grid-row:2 / 4}
.wrap.step6 .grid_container.grid_ex6 .grid_item6{grid-column:1 / 3;grid-row:1 / 3}
.wrap.step6 .grid_container.grid_ex7{grid-template-columns:repeat(4, 1fr);grid-auto-rows:100px;gap:10px}
.wrap.step6 .grid_container.grid_ex7 .grid_item:nth-child(4n+1){grid-column-end:span 2;grid-row-end:span 2;background-color:#ffa94d}
.wrap.step6 .grid_container.grid_ex7 .grid_item:nth-child(2){grid-column:3;grid-row:2 / 4}
.wrap.step6 .grid_container.grid_ex7 .grid_item:nth-child(5){grid-column:1 / 3;grid-row:1 / 3}
.wrap.step6 .grid_container.grid_ex8{grid-template-columns:repeat(4, 1fr);grid-auto-rows:100px;gap:10px;grid-auto-flow:dense}
.wrap.step6 .grid_container.grid_ex8 .grid_item:nth-child(4n+1){grid-column-end:span 2;grid-row-end:span 2;background-color:#ffa94d}
.wrap.step6 .grid_container.grid_ex8 .grid_item:nth-child(2){grid-column:3;grid-row:2 / 4}
.wrap.step6 .grid_container.grid_ex8 .grid_item:nth-child(5){grid-column:1 / 3;grid-row:1 / 3}
.wrap.step6 .grid_container.grid_ex9{grid-template-columns:repeat(auto-fill, minmax(120px, 1fr));gap:10px;grid-auto-flow:dense}
.wrap.step6 .grid_container.grid_ex9 li.landscape{grid-column-end:span 2}
.wrap.step6 .grid_container.grid_ex10 dl{display:grid;grid-template-columns:auto 1fr;margin:1em;max-width:300px}
.wrap.step6 .grid_container.grid_ex10 dt{grid-column:1;font-weight:bold}
.wrap.step6 .grid_container.grid_ex10 dd{grid-column:2;margin-inline-start:40px}

/* STEP 7 */
.wrap.step7 .grid_container.grid_ex1{grid-template-columns:repeat(8,1fr);gap:10px;grid-auto-rows:100px;align-items:start;grid-template-areas:"a a a a b b b b" "a a a a b b b b" "c c c c d d d d" "c c c c d d d d"}
.wrap.step7 .grid_container.grid_ex1 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex1 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex1 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex1 .grid_item4{grid-area:d}
.wrap.step7 .grid_container.grid_ex2{grid-template-columns:repeat(8,1fr);gap:10px;grid-auto-rows:100px;grid-template-areas:"a a a a b b b b" "a a a a b b b b" "c c c c d d d d" "c c c c d d d d"}
.wrap.step7 .grid_container.grid_ex2 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex2 .grid_item2{grid-area:b;align-self:start}
.wrap.step7 .grid_container.grid_ex2 .grid_item3{grid-area:c;align-self:end}
.wrap.step7 .grid_container.grid_ex2 .grid_item4{grid-area:d;align-self:center}
.wrap.step7 .grid_container.grid_ex3{grid-template-columns:repeat(8,1fr);gap:10px;grid-auto-rows:100px;grid-template-areas:"a a a a b b b b" "a a a a b b b b" "c c c c d d d d" "c c c c d d d d"}
.wrap.step7 .grid_container.grid_ex3 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex3 .grid_item2{grid-area:b;justify-self:start}
.wrap.step7 .grid_container.grid_ex3 .grid_item3{grid-area:c;justify-self:end}
.wrap.step7 .grid_container.grid_ex3 .grid_item4{grid-area:d;justify-self:center}
.wrap.step7 .grid_container.grid_ex4{grid-template-columns:repeat(4,1fr);gap:10px;grid-auto-rows:200px;grid-template-areas:". a a ." ". a a ."}
.wrap.step7 .grid_container.grid_ex4 .grid_item1{grid-area:a;align-self:center;justify-self:center}
.wrap.step7 .grid_container.grid_ex5{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(3,100px);gap:10px;grid-template-areas:"a a b" "a a b" "c d d";width:500px;height:500px;}
.wrap.step7 .grid_container.grid_ex5 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex5 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex5 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex5 .grid_item4{grid-area:d}
.wrap.step7 .grid_container.grid_ex6{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(3,100px);gap:10px;grid-template-areas:"a a b" "a a b" "c d d";align-content:end;width:500px;height:500px;}
.wrap.step7 .grid_container.grid_ex6 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex6 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex6 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex6 .grid_item4{grid-area:d}
.wrap.step7 .grid_container.grid_ex7{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(3,100px);gap:10px;grid-template-areas:"a a b" "a a b" "c d d";align-content:space-between;width:500px;height:500px;}
.wrap.step7 .grid_container.grid_ex7 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex7 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex7 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex7 .grid_item4{grid-area:d}
.wrap.step7 .grid_container.grid_ex8{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(3,100px);gap:10px;grid-template-areas:"a a b" "a a b" "c d d";align-content:space-between;justify-content:space-around;width:500px;height:500px;}
.wrap.step7 .grid_container.grid_ex8 .grid_item1{grid-area:a}
.wrap.step7 .grid_container.grid_ex8 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex8 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex8 .grid_item4{grid-area:d}
.wrap.step7 .grid_container.grid_ex9{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(3,100px);gap:10px;grid-template-areas:"a a b" "a a b" "c d d";width:500px;height:500px;}
.wrap.step7 .grid_container.grid_ex9 .grid_item1{grid-area:a;margin-left:auto}
.wrap.step7 .grid_container.grid_ex9 .grid_item2{grid-area:b}
.wrap.step7 .grid_container.grid_ex9 .grid_item3{grid-area:c}
.wrap.step7 .grid_container.grid_ex9 .grid_item4{grid-area:d}

/* STEP 8 */
.wrap.step8 .grid_container.grid_ex1{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(2,100px);gap:10px;writing-mode: vertical-lr}
.wrap.step8 .grid_container.grid_ex2{grid-template-columns:repeat(3,100px);grid-template-rows:repeat(2,100px);gap:10px;writing-mode: vertical-lr}
.wrap.step8 .grid_container.grid_ex2 .grid_item1{grid-column:1 / 4;align-self:start}
.wrap.step8 .grid_container.grid_ex2 .grid_item2{grid-column:1 / 3;grid-row:2 / 4;align-self:start}
.wrap.step8 .grid_container.grid_ex2 .grid_item3{grid-column:3;grid-row:2 / 4;align-self:end;justify-self:end}
.wrap.step8 .grid_container.grid_ex3{grid-template-columns:repeat(3,1fr);grid-template-rows:repeat(2,100px);gap:10px}
.wrap.step8 .grid_container.grid_ex3 .grid_item1{grid-column:1}
.wrap.step8 .grid_container.grid_ex3 .grid_item2{grid-column:-1 / -3}
.wrap.step8 .grid_container.grid_ex3 .grid_item3{grid-column:1 / 3;grid-row:2}
.wrap.step8 .grid_container.grid_ex4{grid-template-columns:repeat(3,1fr);grid-template-rows:repeat(2,100px);gap:10px;direction:rtl}
.wrap.step8 .grid_container.grid_ex4 .grid_item1{grid-column:1}
.wrap.step8 .grid_container.grid_ex4 .grid_item2{grid-column:-1 / -3}
.wrap.step8 .grid_container.grid_ex4 .grid_item3{grid-column:1 / 3;grid-row:2}
.wrap.step8 .grid_container.grid_ex5{grid-template-columns:1fr auto;grid-gap:20px;;padding:1em;font-size:16px}
.wrap.step8 .grid_container.grid_ex5 nav{writing-mode:vertical-lr}
.wrap.step8 .grid_container.grid_ex5 ul{display:flex;justify-content:space-between;margin:0;padding:1em}

/* STEP 9 */
.wrap.step9 .grid_container.grid_ex1 ul{display:grid;grid-template-columns:repeat(3,1fr);gap:20px;margin:0}
.wrap.step9 .grid_container.grid_ex1 li{width:auto;min-height:auto;margin:0}


/* Media Qeury */
@media (min-width: 500px) {
  .wrap.step4 .grid_container.grid_ex4 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "sd sd sd  ft  ft   ft   ft   ft   ft";
  }
}
@media (min-width: 700px) {
  .wrap.step4 .grid_container.grid_ex4 {
    grid-template-areas:
      "hd hd hd   hd   hd   hd   hd   hd hd"
      "sd sd main main main main main ft ft";
  }
}
@supports (display:grid) {
  .wrap.step9 .grid_container.grid_ex1 ul{display:grid;grid-template-columns:repeat(3,1fr);gap:20px;margin:0}
  .wrap.step9 .grid_container.grid_ex1 li{width:auto;min-height:auto;margin:0}
}